
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.container {
  text-align: center;
  background: white;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  justify-content: left;
}

h1 {
  font-size: 2em;
  color: #333;
}

p {
  color: #666;
}

.description {
  margin: 20px 0;
  color: #999;
}

.notify-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.notify-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.notify-form button {
  padding: 10px 20px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.illustration {
  margin-top: 20px;
  justify-content: center;
}

.illustration img {
  max-width: 90%;
}